.contact-container{
    height: 20vh;
    margin: 80px 20px;
    text-align: center;
}
.contact-container > hr{
    margin-top: 50px;
    width: 8%;
    height: 2px;
    background-color: #22a392;
}

@media screen and (max-width: 992px){
    .contact-container{
        height: 20vh;
        margin: 40px 50px 20px;
        text-align: center;
    }
    .contact-container > hr{
        margin-top: 50px;
        margin-left: 180px;
    }   
}