.tech-container{
    background: #fff;
    margin: 80px 20px;
    padding: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0 20px 20px -6px rgba(0, 0, 0, 0.4);
}
.logos{
    width: 100%;
    display: flex;
    margin-top: 50px;
}
.tech-container img{
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 992px){
    .logos{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    
    
}